.*.swp
.vim/autoload/pathogen.vim
.emacs.d/session.*
.emacs.d/.emacs.desktop*
.emacs.d/emacs-backup
.emacs.d/.org-id-locations
.vim/.netrwhist
.emacs.d/url/cookies
.emacs.d/image-dired
.emacs.d/image-dired/*.png
.emacs.d/auto-save-list/
*.elc
abbrev_defs
.emacs.d/newsticker/
.emacs.d/el-get
.emacs.d/swank
.vim/bundle
