abbrev_defs
api-key.el

\#*#
.#*
.*.swp
*.elc

vim/autoload/pathogen.vim
vim/.netrwhist
vim/bundle
vim/vim-addons

emacs.d/.emacs.desktop*
emacs.d/.org-id-locations
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/el-get
emacs.d/elpa
emacs.d/emacs-backup
emacs.d/image-dired
emacs.d/image-dired/*.png
emacs.d/newsticker/
emacs.d/request/
emacs.d/session.*
emacs.d/swank
emacs.d/tramp
emacs.d/url
emacs.d/url/cookies
emacs.dsession*
